*{
margin: 0;
padding: 0;
}
#contenido{
	margin: 0 auto;
	width: 900px;
	display: flex;
	flex-direction: column;
}
body{
	font-family: 'Dancing Script', cursive;
	background:  #02010a;
	margin: 0 auto;
	padding: 0;
    display: flex;
	flex-direction:column
}
#header{
	width: 900px;
	margin: 0 auto;
	display: flex;
    flex-flow: row wrap;
    background-color: #5b7989;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	color: white;
	animation-duration: 1s;
    animation-name: slidein;
}
#header h1{
  width: 50%;
  text-shadow: 2px 2px  #02010a;
	margin-top: 15px;
	margin-left: 20px;
	align-content:center;
	text-align:center;
}
#menu {
	margin-top: 25px;
	margin-left: 230px;
    background-color:#5b7989;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	color: white;
	display: flex;
	flex-flow: row;
	font-size: 14
}
#menu div{
  flex-flow: column;
  display: flex;
  margin-left: 10px;
  width: 50px;
  height: 50px;
	
}
#menu div a{
	color: white;
	font-weight:500;
	margin: auto;
}
article{
	box-sizing: border-box;
	margin: 0 auto;
	width: 900px;
	float:none;
	text-align: center;
}
#column1{
	background-color: #82c3a6;
	display: flex;
	flex-direction: column;
}
#column2{
	display: flex;
	flex-direction: column;
}
#banner{
	width: 900px;
	height: auto;
	background: #82c3a6;
	margin: 0px auto;
	padding: 0;
	align-content: center;
}
#imagen_central {
    margin-top: 5%;
	margin-bottom: 5%;
	box-shadow: 2px 2px 2px #02010a;
	display: flex;
	align-content: center;
	width: 95%;
}
#imagenes_secundarias{
	width: 900px;
	height: 350px;
	margin: auto;
	display: flex;
	flex-direction: row;
	text-align:center;
	align-items: center;
    justify-content: center;
	background-color: #d5c75f;
	border: 1px 1px;
}
#imagen_secundaria1{
	    margin-top: 5%;
	margin-bottom: 5%;
	box-shadow: 2px 2px 2px #02010a;
	order: 1;
	width: 80%;
	justify-content: center;
}
#imagen_secundaria img{
	transition: width, 1s;
}
 #imagen_secundaria img:hover{
transform: rotate(10deg);
}

#imagen_secundaria2{
	    margin-top: 5%;
	margin-bottom: 5%;
	box-shadow: 2px 2px 2px #02010a;
	width: 80%;
	order: 2;
}
#imagen_translate img{
	transition: width, 1s;
    align-content: center;
}
#imagen_translate img:hover{
	transform: translate3d(20px,0px,5px);
	align-content: center;
}

.paisaje{
  width: 25%;
  height: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
}
section{
	margin: 0 auto;
	width: 900px;
	
	
}
.paisajes_retratos{
	background-color: #d5c75f	
}
#galeria1_fila1, #galeria1_fila2{
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
}
#galeria_fila1{
  padding: 50px 0 0 0;
}
#galeria_fila2{
  padding: 50px 0 50px 0;
}
img{
  margin: auto;
}
#texto_footer{
	width: 100%;
	align-content: center;
	text-align:center;
	margin: auto;
}
#texto_footer p{
	text-align:left;
}
.contacto{
	width: 200px;
	height: 120px;

	align-content: center;
	margin-top: 5px;
	margin-left: 5px;
	padding-left: 10px;
    padding-top: 10px;
    float: left;
    position: relative;
  
}
.terminos{
	width: 200px;
	height: 120px;
	align-content: center;
	margin-top: 5px;
	margin-left: 5px;
	padding-left: 10px;
    padding-top: 10px;
    float: left;
    position: relative;
  
}
.redes{
	width: 200px;
	height: 120px;
	align-content: center;
	margin-top: 5px;
	margin-left: 5px;
	padding-left: 10px;
    padding-top: 10px;
    float:left;
    position: relative;
   
}
.derechos{
	width: 200px;
	height: 120px;
	align-content: center;
	margin-top: 5px;
	margin-left: 5px;
	padding-left: 10px;
    padding-top: 10px;
    float: left;
    position: relative;
    
}
footer{
	background: #C6d5c5;
	width: 900px;
    height: auto;
	margin: 0 auto;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	display: flex;
	flex-direction: column;
	
	}

@keyframes slidein {
  from {
    margin-top: 150%;
    width: 100%
  }
  }
  to {
    margin-top: -5%;
    width: 100%;
  }
	  to {
    margin-top: 0%;
    width: 100%;
  }

@media screen and (max-width: 900px){
		#contenido{
	  width: 100%;
	  margin: 0 auto;
	    }
	#column1 {
width: 100%;
 }	
#column2 {
width: 100%;
	}
#header{
	width: 100%;
}
	#menu{
		justify-content: center;
	}
	#header>nav {
		width: 100%;
		margin: 0;
	}
	#header>h1 {
		width: 100%;
	}
	section {
		width: 100%;
	}

	footer {
		width: 100%;
	}
#imagenes_secundarias {
		width: 100%;
		height: auto;
		flex-direction: column;
		justify-content: center;
	}
	#imagenes_secundarias>div {
		width: 100%;
	}
	#imagenes_secundarias>div>img {
		width: 70%;
		display: block;
		margin: 10 auto;
	}
	#banner {
		width: 70%;
		display: block;
		margin: 10 auto;
	}
	#texto_footer{
		width: 100%;
		height: auto;
		flex-direction: column;
		justify-content: center;
	}
 }

@media screen and (max-width: 640px){
	#contenido{
	  width: 100%;
	  margin: 0 auto;
	    }
	#column1 {
width: 100%;
 }	
#column2 {
width: 100%;
	}
#header{
	width: 100%;
}
	#menu{
		justify-content: center;
	}
	#header>nav {
		width: 100%;
		margin: 0;
	}
	#header>h1 {
		width: 100%;
	}
	section {
		width: 100%;
	}

	footer {
		width: 100%;
	}
#imagenes_secundarias {
		width: 100%;
		height: auto;
		flex-direction: column;
		justify-content: center;
	}
	#imagenes_secundarias>div {
		width: 100%;
	}
	#imagenes_secundarias>div>img {
		width: 90%;
		display: block;
		margin: 10 auto;
	}
	#banner {
		width: 90%;
		display: block;
		margin: 10 auto;
	}
	#texto_footer{
		width: 100%;
		height: auto;
		flex-direction: column;
		justify-content: center;
	}
 }

@media screen and (max-width: 480px){
	#contenido{
	  width: 100%;
	  margin: 0 auto;
	    }
	#column1 {
width: 100%;
 }	
#column2 {
width: 100%;
	}
#header{
	width: 100%;
}
	#menu{
		justify-content: center;
	}
	#header>nav {
		width: 100%;
		margin: 0;
	}
	#header>h1 {
		width: 100%;
	}
	section {
		width: 100%;
	}

	footer {
		width: 100%;
	}
#imagenes_secundarias {
		width: 100%;
		height: auto;
		flex-direction: column;
		justify-content: center;
	}
	#imagenes_secundarias>div {
		width: 100%;
	}
	#imagenes_secundarias>div>img {
		width: 90%;
		display: block;
		margin: 10 auto;
	}
	#banner {
		width: 90%;
		display: block;
		margin: 10 auto;
	}
	#texto_footer{
		width: 100%;
		height: auto;
		flex-direction: column;
		justify-content: center;
	}
 }